
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/iCheck/jquery.icheck.min.js"></script>
<script src="~/layui/layui.all.js"></script>


<link href="~/css/sb-admin.css" rel="stylesheet">
<link href="~/css/plugins/morris.css" rel="stylesheet">
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit</title>
</head>
<body>
    <div style="background-color:white;" align="center">
        <table>
            <tr>
                <td>编号</td>
                <td><i> <label></label> </i></td>
            </tr>

            <tr>
                <td>供货商</td>
                <td>
                    <select>
                        <option value="0"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>创建人</td>
                <td>
                    <select>
                        <option value="0"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>创建时间</td>
                <td>创建时间</td>
            </tr>

            <tr>
                <td>预计交货时间</td>
            </tr>

            <tr>
                <td>状态</td>
            </tr>

            <tr>
                <td>备注</td>
            </tr>

        </table>
    </div>
</body>
</html>
