
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
  
    <!-- Navigation -->
   
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12" >
                    <h2>系统提醒</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="font-size:20px">系统提醒</th>
                                    <th colspan="4" style="font-size:20px;color:red;text-align:center">详细</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="active">
                                    <td style="font-size:20px;color:red">业务模块</td>
                                    <td colspan="4">
                                        订单未完成销货__笔，待审核订单__笔，待审核销售__笔，带收款销售__笔
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td style="font-size:20px;color:red">采购模块</td>
                                    <td colspan="4">
                                        订单未完成销货__笔，待审核订单__笔，待审核销售__笔，带收款销售__笔
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td style="font-size:20px;color:red">账款</td>
                                    <td colspan="4">
                                        订单未完成销货__笔，待审核订单__笔，待审核销售__笔，带收款销售__笔
                                    </td>
                                </tr>
                                <tr class="danger">
                                    <td style="font-size:20px;color:red">库存</td>
                                    <td colspan="4">
                                        订单未完成销货__笔，待审核订单__笔，待审核销售__笔，带收款销售__笔
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:20px;color:red">其他</td>
                                    <td colspan="4">
                                       等待升级增加........
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                @*<div class="col-lg-6">
                    <h2>Bootstrap Docs</h2>
                    <p>For complete documentation, please visit <a target="_blank" href="http://getbootstrap.com/css/#tables">Bootstrap's Tables Documentation</a>.</p>
                </div>*@
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


 <!-- jQuery -->
@*<script src="~/js/jquery.js"></script>*@
<!-- Bootstrap Core JavaScript -->
@*<script src="~/js/bootstrap.min.js"></script>*@

